@import 'variables';


#contact {
    background-color: $main-black;
    color: $main-white;
}


.contact_container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact_me {
    font-family: 'lato', sans-serif;
    font-size: 7vw;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin: 10px;
}

.email {
    text-decoration: none;
    border: 1px solid $blood-red;
    display: flex;
    padding: 10px;
    margin: 20px 0 20px 20px;
    justify-content: center;
    color: $main-white;
    transition: 0.5s ease all;
    width: 80%;
}

.email:hover {
    background-color: $blood-red;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.social i:hover {
    color: $blood-red;
    transition: 0.4s ease all;
}