@import'reset';
@import 'variables';
@import 'navigation';
@import'header';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';

p {
    font-family: 'lato', sans-serif;
    line-height: 46px;
    font-size: 17px;
}

/*...........................MEDIA QUERIES...........................*/


@media only screen and (min-width: 580px) {

    /*...........HEADER..............*/
    .word_container {
        padding-top: 19%;
    }

    .name_title {
        font-size: 8vw;
    }

    .projects_name {
        line-height: 140px;
        font-size: 8vw;
    }

    .blog_name {
        line-height: 140px;
        font-size: 8vw;
    }

    /*...........HEADER..............*/









    /*...........ABOUT..............*/
    .section_title {
        font-size: 40px;
    }

    /*...........ABOUT..............*/







    /*...........CONTACT..............*/
    .contact_grid {
        margin-bottom: 100px;
    }

    // #contact {
    //     height: 90vh;
    // }

    .gmail {
        font-size: 25px;
    }

    /*...........CONTACT..............*/
}

@media only screen and (min-width: 700px) {

    /*...........HEADER..............*/
    .word_container {
        padding-top: 16%;
    }

    .name_title {
        font-size: 7vw;
    }

    /*...........HEADER..............*/

    /*...........ABOUT..............*/
    .about_words {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /*...........ABOUT..............*/

    /*...........SKILLS..............*/
    .skills_container {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .skills_desc {
        word-spacing: 20px;
    }

    /*...........SKILLS..............*/

    /*...........PROJECTS..............*/
    .projects_container {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /*...........PROJECTS..............*/




    /*...........CONTACT..............*/
    .contact_container {
        //max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /*...........CONTACT..............*/
}

@media only screen and (min-width: 960px) {

    /*...........HEADER..............*/
    .word_container {
        padding-top: 13%;
    }

    .name_title {
        font-size: 6.5vw;
    }

    .projects_name {
        line-height: 130px;
        font-size: 7vw;
        max-width: 70%;
    }

    .blog_name {
        line-height: 130px;
        font-size: 7vw;
        max-width: 70%;
    }

    /*...........HEADER..............*/
    /*...........CONTACT..............*/
    .contact_me {

        font-size: 4em;
    }

    /*...........CONTACT..............*/
}

@media only screen and (min-width: 1200px) {

    /*...........HEADER..............*/
    .word_container {
        padding-top: 10%;
    }

    .name_title {
        font-size: 5.5vw;
    }

    /*...........HEADER..............*/
}

/*...........................MEDIA QUERIES...........................*/