
#skills {
    background-color: $secondary-grey;
    padding-top: 20px;
    padding-bottom: 50px;
}

.skills_container {
    margin: 25px;
    max-width: 80em;
}

.skills_words {
    margin-bottom: 25px;
}

.skills_grid div {
    padding: 10px;
}

.skills_grid {
    display: flex;
    justify-content: space-between;
}

.skills_title {
    flex: 1;
}

.skills_desc {
    flex: 2;
    font-size: 50px;
}

.line_below {
    margin-bottom: 80px;
}
