*{
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

/*NAVIGATION*/
#headerTag{
  width: 100vw;
  height: 100vh;
  background-image: url('godfather.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed; /*parallax effect*/
  background-size: 40vw; /*this makes the picture relative size*/
  background-color: black;
  color:white; 
}

.tagline2 {
  font-family: 'lato', sans-serif;
  font-size: 7em;
  letter-spacing: 7px;
  line-height: 0.95em;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px black;
  padding-top: 10px;
  margin-top: 20%;
}
#down{
  bottom: 20%;
  left: 46%;
  border-radius: 50%;
  position: absolute;
  opacity: 0.9;
  height: 6em;
  width: 6em;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border: 3px solid white;
  cursor: pointer;
}
#down:hover{
  background-color: #696969;
}
.workLink{
  padding-top: 25px;
  font-size: 20px;
  letter-spacing: 5px;
}
/*END OF NAVIGATION*/
/*WORK SECTION*/
#portfolio{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
#portfolio .desc {
  font-weight: 400; /*this may or may not be important*/
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.container-fluid:hover .overlay {
  display: block;
  background:#580000;
  opacity: 0.9;
}
.title {
  position: absolute;
  top: 120px;
  font-size: 30px;
  color:#580000;
  opacity:0.9;
  z-index: 1;
  transition: top .5s ease;
}
.container-fluid:hover .title {
  top: 10px;
  color:white;
}
.shit{
  opacity: 0;
  position: absolute;
  padding: 10px;
}
.container-fluid:hover .shit{
  opacity: 1;
  bottom: 110px;
  color:white;
}
.button {
  position: absolute;
  top: 180px;
  text-align: center;
  opacity: 0;
  padding: 10px;
  transition: opacity .35s ease;
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.container-fluid:hover .button {
  opacity: 1;
}
.pimages{
  width: 100%;
  height: 268px;
}
.goBack{
  color: white;
  font-size: 30px;
  cursor: pointer;
}
/*END OF WORK SECTION*/
/*FOOTER SECTION*/
#social-footer{
  width: 100%;
  text-align: center;
  background-color: black;
}
#social-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#social-footer ul li {
  display: inline;
  padding: 0.4em;
}
#social-footer ul li a{
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social-footer ul li a:hover {
  opacity: 1;
}
#social-footer a {
  color: white;
}
.blacktext{
  color: black;
}
footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  opacity: 0.8;
  z-index: 100;
}
a.fa {
  text-decoration: none;
}
a:link{
  text-decoration: none !important;
  outline: 0;
}
.fa-stack{
  margin: -2px;
}

/*END OF FOOTER SECTION*/
@media only screen and (max-width: 768px) {
  #headerTag{
    background-image: url('godfather.jpeg');
    background-attachment: fixed;
    background-size: 300px; 
  }
  #down{
    left: 41%;
    height: 8em;
    width: 8em;
  }
  .workLink{
    padding-top: 20px;
    font-size: 27px;
    letter-spacing: 7px;
  }
  #social-footer ul li {
    padding: 0.9em;
  }
}
