/*NAVIGATION*/
.navbar{
    z-index:9999; 
    font-family: 'lato', sans-serif;
    opacity: 0.9;
}
#nav-bar ul li {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;

}
#bar{
  margin: 5px;
}
#burger{
  border: none;
}
#nav-bar ul li:hover::after{
  width: 100%;
}
#nav-bar ul li:hover{
  font-weight: bolder;
}
#brand-name{
  font-family: 'Sacramento', cursive;
  font-size: 35px;
}
#headerTag{
  width: 100vw;/*these thwo create the box to put the picture in*/
  height: 100vh;
  background-image: url('godfather.jpeg');
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed; /*parallax effect*/
  background-size: 45vw; /*this makes the picture relative size*/
  background-color: black;
  color:white; 
}
.desc{
  font-family: 'Roboto', sans-serif;
  font-size:1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}
.tagline1 {
  font-family: 'lato', sans-serif;
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
  color: #bbb;
  text-align: left;
  padding-top: 70px;
  text-shadow: 1px 1px black;
}
.tagline2 {
font-family: 'lato', sans-serif;
font-size: 7em;
letter-spacing: 7px;
top: 28%;
left: 30%;
position: fixed;
/* line-height: 0.95em; */
font-weight: 100;
/* text-align: center; */
}
#down{
  position: absolute;
  left: 48%;
  bottom: 10%;
  opacity: 0.9;
  font-size: 60px;
}
#down:hover{
 
}

#down a i {

}

#down a i:hover{
 

 
}
#down a {
  color:white;
  opacity: 0.5;
  transition:opacity 0.5s;
}
#down a:hover {
  opacity:1;
}
/*END OF NAVIGATION*/
/*ABOUT SECTION*/
#about {
  width: 100vw;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
}
.line{
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}
#about .desc {
  font-weight: 400;
}
.section-title{
  font-family: 'lato',sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
}
.section-banner{
  padding-top: 10px;
  padding-bottom: 50px;
}

.icon-me{
  text-align: center;
  font-size: 5em;
  color: #580000;
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow:5px 5px 5px grey;
}
/*END OF ABOUT*/
/*PORTFOLIO SECTION*/
#portfolio{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
#portfolio .desc {
  font-weight: 400; /*this may or may not be important*/
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.container-fluid:hover .overlay {
  display: block;
  background:#580000;
  opacity: 0.9;
}
.title {
  position: absolute;
  top: 120px;
  font-size: 30px;
  color:#580000;
  opacity:0.9;
  z-index: 1;
  transition: top .5s ease;
}
.container-fluid:hover .title {
  top: 10px;
  color:white;
}
.shit{
  opacity: 0;
  position: absolute;
  padding: 10px;
}
.container-fluid:hover .shit{
  opacity: 1;
  bottom: 110px;
  color:white;
}
.button {
  position: absolute;
  top: 180px;
  text-align: center;
  opacity: 0;
  padding: 10px;
  transition: opacity .35s ease;
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.container-fluid:hover .button {
  opacity: 1;
}
.pimages{
  width: 100%;
  height: 268px;
}
/*END OF PORTFOLIO*/
/*CONTACT SECTION*/
#contact{
  width: 100vw;
  height: 100vh;
  background-image: godfather.png;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
/*
.icon-contact{
  text-align: center;
  font-size: 7.5em;
  padding-top: 10px;
  padding-bottom: 15px;
  text-shadow:1px 1px 1px black;
}

#color-me{
  color: #939393;
}
#color-me:hover{
  color: white;
}
*/
#my-form{
  padding-bottom: 0px;

}
.my-form{
  background: #003366;
  opacity: 0.9;
  border-radius: 25px;
  padding: 15px;
  width: 70%;
}
/*END OF CONTACT SECTION*/
/*FOOTER SECTION*/
#social-footer{
  width: 100%;
  text-align: center;
  background-color: black;
}
#social-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#social-footer ul li {
  display: inline;
  padding: 0.4em;
}
#social-footer ul li a{
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social-footer ul li a:hover {
  opacity: 1;
}
#social-footer a {
  color: white;
}

.blacktext{
  color: black;
}
footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  opacity: 0.8;
  z-index: 100;
}
a.fa {
  text-decoration: none;
}
a:link{
  text-decoration: none !important;
  outline: 0;
}
.fa-stack{
  margin: -2px;
}
.copyright{
  padding-bottom: 0;
  padding-top: 5px;
  color:#555;
}
/*END OF FOOTER SECTION*/
@media only screen and (max-width: 768px) {
/*  #contact{
    background-attachment: scroll;
  }
  #twoam{
    background-attachment: scroll;
  }
  */
  
  .tagline2{
    font-size: 4.4em;
  }
  .section-title{
    font-size: 2.6em;
  }
  .line{
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    outline: black;
  }
  #twoam {
  width: 100vw;
  height: 100vh;
  background-image: url("http://img02.deviantart.net/5fcc/i/2013/245/8/e/majora_s_mask___wooden_replica_by_supermariio-d6kubcn.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 28, 28);
  color: white;
  }
  #contact {
  width: 100vw;
  height: 120vh;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20px;
  }

  #headerTag{
    background-size: 300px;
  }

  #down{
    left: 42%
  }


  .tagline2 {
    font-family: 'lato', sans-serif;
    font-size: 7em;
    letter-spacing: 7px;
    top: 18%;
    left: 4%;
    text-align: center;
    position: fixed;
    /* line-height: 0.95em; */
    font-weight: 100;
    /* text-align: center; */
  }












}