/*.................NAVIGATION...................*/
.navbar{
  z-index:9999; 
  font-family: 'lato', sans-serif;
  opacity: 0.9;
  padding-bottom: 3px;
}
#nav-bar ul li {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
}
#bar{
  margin: 5px;
}
#burger{
  border: 1;
  margin-bottom: 0;
  padding: 5px 4px;
}
#nav-bar ul li:hover::after{
  width: 100%;
}
#nav-bar ul li:hover{
  font-weight: bolder;
}
#brand-name{
  font-size: 35px;
  line-height: 16px;
  font-weight: 100;
}
/*..................NAVIGATION....................*/



/*..................HEADER.........................*/
#headerTag {
  width: 100vw;
  height: 100vh;
  background-image: url('my_face.jpeg');
  background-position: 107px 44px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80vw;
  background-color: black;
  color: white;
}
.tagline2 {
  font-family: 'lato', sans-serif;
  font-size: 9em;
  letter-spacing: 7px;
  margin-top: 10%;
  font-weight: 100;
}
#down{
  position: absolute;
  left: 48%;
  bottom: 9%;
  opacity: 0.9;
  font-size: 60px;
}
#down a {
  color:white;
  opacity: 0.5;
  transition:opacity 0.5s;
}
#down a:hover {
  opacity:1;
}
/*.......................HEADER...........................*/




/*.........................ABOUT............................*/
#about {
  width: 100vw;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
}
.line{
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}
.section-title{
  font-family: 'lato',sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
}
.section-banner{
  padding-top: 10px;
  padding-bottom: 50px;
}
.icon-me{
  text-align: center;
  font-size: 5em;
  color: #580000;
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow:5px 5px 5px grey;
  transition:1s;
}
.desc{
  border: 3px solid #580000;
  transition:1s;
}
.desc:hover{
  padding: 100px;
}
.desc:hover .icon-me{
  opacity: 0;
  padding-top: 0;
}
.yo{
  display: none;
  color: #580000;
  font-size: 40px;
  transition:2s;
}
.desc:hover .yo{
  display: block;
  position: absolute;
  top: 10px;
}
.oy{
  display: none;
  color: #580000;
  transition:2s;
  font-size: 25px;
}
.desc:hover .oy{
  display: block;
  top: 100px;
}
.myflex{
  transition:1s;
  opacity: 0;
}
.desc:hover .myflex{
  margin-top: -125px;
  opacity: 1;
}


/*.........................ABOUT............................*/




/*........................PORTFOLIO.........................*/
#portfolio{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
#portfolio .desc {
  font-weight: 400;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  transition: background 0.5s ease;
}
.container-fluid:hover .overlay {
  display: block;
  background:#580000;
  opacity: 0.9;
}
.title {
  position: absolute;
  top: 120px;
  font-size: 30px;
  color:#580000;
  opacity:0.9;
  z-index: 1;
  transition: top .5s ease;
}
.container-fluid:hover .title {
  top: 10px;
  color:white;
}
.shit{
  opacity: 0;
  position: absolute;
  padding: 13px;
}
.container-fluid:hover .shit{
  opacity: 1;
  bottom: 110px;
  color:white;
}
.button {
  position: absolute;
  top: 180px;
  text-align: center;
  opacity: 0;
  border: solid 2px white;
  padding: 10px;
  transition: opacity 1s ease;
}
.button a {
  padding: 12px 48px;
  text-align: center;
  color:white;
  z-index: 1;
}
.button a:hover{
  color:#580000;
}
.button:hover{
  transition:1s;
  background-color: white;
}
.container-fluid:hover .button {
  opacity: 1;
}
/*........................PORTFOLIO.........................*/







/*...........................CONTACT........................*/
#contact{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  color: #580000;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background:#e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  transition:.5s;
  background: #580000;
}
form textarea {
  height: 126px;
}
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
#my-form{
  padding-bottom: 0px;
}
.my-form{
  background: #003366;
  opacity: 0.9;
  border-radius: 25px;
  padding: 15px;
  width: 70%;
}
/*...........................CONTACT........................*/







/*...........................FOOTER...........................*/
#social-footer{
  width: 100%;
  text-align: center;
  background-color: black;
}
#social-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#social-footer ul li {
  display: inline;
  padding: 0.4em;
}
#social-footer ul li a{
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social-footer ul li a:hover {
  opacity: 1;
}
#social-footer a {
  color: white;
}
.blacktext{
  color: black;
}
footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  opacity: 0.8;
  z-index: 100;
}
a.fa {
  text-decoration: none;
}
a:link{
  text-decoration: none !important;
  outline: 0;
}
.fa-stack{
  margin: -2px;
}
.copyright{
  padding-bottom: 0;
  padding-top: 5px;
  color:#555;
}
/*...........................FOOTER...........................*/





/*...........................MEDIA QUERIES...........................*/

@media (max-width: 1280px) {
  #headerTag {
    background-size: 94vw;
    background-position: -2px;
  }
}
@media (max-width: 1180px) {
  #headerTag {
    background-size: 115vw;
    background-position: -103px;
  }
}
@media (max-width: 1080px) {
  #headerTag {
    background-size: 115vw;
    background-position: -103px;
  }
}
@media (max-width: 980px) {
  #headerTag {
    background-size: 115vw;
    background-position: -103px;
  }
}
@media (max-width: 880px) {
  #headerTag {
    background-size: 115vw;
    background-position: -103px 102px;
  }
}
@media only screen and (max-width: 768px) {
  .section-title{
    font-size: 2.6em;
  }
  .line{
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    outline: black;
  }
  #twoam {
    width: 100vw;
    height: 100vh;
    background-image: url("http://img02.deviantart.net/5fcc/i/2013/245/8/e/majora_s_mask___wooden_replica_by_supermariio-d6kubcn.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(28, 28, 28);
    color: white;
  }
  #contact {
    width: 100vw;
    height: 120vh;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
  }
  #headerTag {
    background-size: 148vw;
    background-position: -224px;
  }
  #down{
    left: 42%
  }
  .tagline2 {
    font-family: 'lato', sans-serif;
    font-size: 7em;
    letter-spacing: 7px;
    font-weight: 100;
  }
  .desc{
    margin-bottom: 15px;
  }
}
@media (max-width: 680px) {
  #headerTag {
    background-size: 187vw;
    background-position: -310px;
  }
}
@media (max-width: 580px) {
  #headerTag {
    background-size: 205vw;
    background-position: -276px;
  }
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  #headerTag {
    background-size: 205vw;
    background-position: -209px;
  }
}
/*...........................MEDIA QUERIES...........................*/



