/*.................NAVIGATION...................*/
.navbar{
  z-index:9999; 
  font-family: 'lato', sans-serif;
  opacity: 0.9;
}
#nav-bar ul li {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
}
#bar{
  margin: 5px;
}
#burger{
  border: none;
}
#nav-bar ul li:hover::after{
  width: 100%;
}
#nav-bar ul li:hover{
  font-weight: bolder;
}
#brand-name{
  font-size: 35px;
  line-height: 16px;
  font-weight: 100;
}
/*..................NAVIGATION....................*/



/*..................HEADER.........................*/
#headerTag{
  width: 100vw;/*these thwo create the box to put the picture in*/
  height: 100vh;
  background-image: url('my_face.jpeg');
/*  background-position: left;*/
  background-repeat: no-repeat;
  background-attachment: fixed; /*parallax effect*/
  background-size: 87vw; /*this makes the picture relative size*/
  background-color: black;
  color:white; 
}
/*.desc{
  font-family: 'Roboto', sans-serif;
  font-size:1.3em;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
}*/
.tagline2 {
  font-family: 'lato', sans-serif;
  font-size: 9em;
  letter-spacing: 7px;
  margin-top: 10%;
  /*top: 28%;
  left: 28%;*/
 /* position: fixed;*/
  /* line-height: 0.95em; */
  font-weight: 100;
  /* text-align: center; */
}
#down{
  position: absolute;
/*  margin-right: auto;
  margin-left: auto;
  display: table;
  margin-top: 30%;*/
  left: 48%;
  bottom: 10%;
  opacity: 0.9;
  font-size: 60px;
}
#down a {
  color:white;
  opacity: 0.5;
  transition:opacity 0.5s;
}
#down a:hover {
  opacity:1;
}
/*.......................HEADER...........................*/




/*.........................ABOUT............................*/
#about {
  width: 100vw;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 50px;
}
.line{
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}
#about .desc {
  font-weight: 400;
}
.section-title{
  font-family: 'lato',sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  font-style: italic;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
}
.section-banner{
  padding-top: 10px;
  padding-bottom: 50px;
}

.icon-me{
  text-align: center;
  font-size: 5em;
  color: #580000;
  padding-top: 20px;
  padding-bottom: 25px;
  text-shadow:5px 5px 5px grey;
}
/*.........................ABOUT............................*/




/*........................PORTFOLIO.........................*/
#portfolio{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
#portfolio .desc {
  font-weight: 400; /*this may or may not be important*/
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
/*  background: rgba(0, 0, 0, 0);
*/  transition: background 0.5s ease;
}
.container-fluid:hover .overlay {
  display: block;
  background:#580000;
  opacity: 0.9;
}
.title {
  position: absolute;
  top: 120px;
  font-size: 30px;
  color:#580000;
  opacity:0.9;
  z-index: 1;
  transition: top .5s ease;
}
.container-fluid:hover .title {
  top: 10px;
  color:white;
}
.shit{
  opacity: 0;
  position: absolute;
  padding: 13px;
}
.container-fluid:hover .shit{
  opacity: 1;
  bottom: 110px;
  color:white;
}
.button {
  position: absolute;
  top: 180px;
  text-align: center;
  opacity: 0;
  border: solid 2px white;
  padding: 10px;
  transition: opacity 1s ease;
}
.button a {
  padding: 12px 48px;
  text-align: center;
  color:white;
  z-index: 1;
}
.button a:hover{
  color:#580000;
}
.button:hover{
  transition:1s;
  background-color: white;
}

.container-fluid:hover .button {
  opacity: 1;
}

/*........................PORTFOLIO.........................*/







/*...........................CONTACT........................*/
#contact{
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Merriweather);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
}
h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 white;
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  color: #580000;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background:#e74c3c;
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  transition:.5s;
  background: #580000;
}
form textarea {
  height: 126px;
}
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
#my-form{
  padding-bottom: 0px;
}
.my-form{
  background: #003366;
  opacity: 0.9;
  border-radius: 25px;
  padding: 15px;
  width: 70%;
}
/*...........................CONTACT........................*/







/*...........................FOOTER...........................*/
#social-footer{
  width: 100%;
  text-align: center;
  background-color: black;
}
#social-footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#social-footer ul li {
  display: inline;
  padding: 0.4em;
}
#social-footer ul li a{
  opacity: 0.5;
  transition: opacity 0.5s;
}
#social-footer ul li a:hover {
  opacity: 1;
}
#social-footer a {
  color: white;
}

.blacktext{
  color: black;
}
footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1% 5%;
  text-align: center;
  opacity: 0.8;
  z-index: 100;
}
a.fa {
  text-decoration: none;
}
a:link{
  text-decoration: none !important;
  outline: 0;
}
.fa-stack{
  margin: -2px;
}
.copyright{
  padding-bottom: 0;
  padding-top: 5px;
  color:#555;
}
/*...........................FOOTER...........................*/






@media only screen and (max-width: 768px) {
  .section-title{
    font-size: 2.6em;
  }
  .line{
    height: 2px;
    width: 70px;
    position: relative;
    top: -10px;
    display: inline-block;
    outline: black;
  }
  #twoam {
    width: 100vw;
    height: 100vh;
    background-image: url("http://img02.deviantart.net/5fcc/i/2013/245/8/e/majora_s_mask___wooden_replica_by_supermariio-d6kubcn.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(28, 28, 28);
    color: white;
  }
  #contact {
    width: 100vw;
    height: 120vh;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
  }
  #headerTag{
    background-size: 300px;
  }
  #down{
    left: 42%
  }
  .tagline2 {
    font-family: 'lato', sans-serif;
    font-size: 7em;
    letter-spacing: 7px;
   /* top: 18%;
    left: 4%;
    text-align: center;*/
    /*position: fixed;*/
    /* line-height: 0.95em; */
    font-weight: 100;
    /* text-align: center; */
  }


  #headerTag{
  background-size: 87vw; /*this makes the picture relative size*/
}





}





@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/*.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
*/



